[submodule "container-app"]
	path = container-app
	url = git@github.com:org/container-app.git
	branch = main

[submodule "workflow-app"]
	path = workflow-app
	url = git@github.com:org/workflow-app.git
	branch = main

[submodule "shared"]
	path = shared
	url = git@github.com:org/shared.git
	branch = main
