[submodule "container"]
	path = container
	url = git@github.com:org/container.git
	branch = container

[submodule "workflow"]
	path = workflow
	url = git@github.com:org/workflow.git
	branch = workflow